@import "../../styles/index.scss";

.card {
    display: flex;
    overflow: hidden;
    height: 7.4375rem;
    border-radius: 0.5rem;
    background: var(--grey-1);
    margin-bottom: 1.5rem;
    color: var(--grey-4);
    width: 100%;
    
    &.dark-mode{
        background-color:  #212529;
        color: white;
    }
};
.dark-mode-text{
    color: white;
};
.dark-mode-btn{
    background-color: #16191b;
    color: white;
};
.cardMainSection{
    display: flex
};
.titleCard {
    @extend .title;
    @extend .three;
    max-width: 12rem;
    text-align: start;
    margin-top: 1rem;
    margin-left: 0.87rem;
    margin-bottom: 0;
};
.pCard {
    @extend .title;
    @extend .pline;
    margin-top: 0.9rem;
    margin-left: 0.87rem;
    margin-bottom: 0.5rem;
};
.pCardValue {
    @extend .title;
    @extend .four;
};
.pCardDate{
    position: relative;
    @extend .title;
    @extend .Headline;
    margin-top: 0.9rem;
    margin-left: 0.87rem;
    margin-bottom: 0.5rem;
};
.btnCard {
    position: relative;
    @extend .button;
    @extend .delete;
    margin-top: 0.81rem;
    margin-left: 2rem;
    margin-right: 1.3rem;
    margin-bottom: 1.31rem;
    border-radius: 18.75rem;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px
};
.totalSection {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10%;
    max-height: 5rem;
    border: 0.0625rem solid var(--grey-2);
    padding: 1rem;
    margin-top: 1.19rem;
    border-radius: 0.3125rem;
    margin-right: 1.5rem;

    &.dark-mode{
        background: #212529;
    }
};
.div1{
    width: 200px;
    display: flex;
    flex-direction: column;
    height: 100%;
};
.div2{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
};
.div3{
    width: 200px;
    display: flex;
    justify-content: end;
    align-items: center;
    max-width: 100%;
    height: 100%;
};
.trashIcon{
    width: 1.5rem;
    height: 1.5rem;
};
.ptext {
    @extend .title;
    @extend .Headline;
    margin: 0;
};
.totaltext{
    @extend .title;
    @extend .three;
};
.totalvalue {
    position: relative;
    right: 0;
    color: var(--brand-1);
    text-align: end;
    @extend .title;
    @extend .three;
};
.positiveValue {
    color: #00b700;
 };
 .neutralValue{
    color: var(--brand-1);
 };
 .negativeValue {
     color: #ff0000 
 }
 .positiveValue-Dark {
     color: #6ec06e;
 };
 .neutralValue-Dark{
    color: var(--brand-1);
 }
 .negativeValue-Dark {
     color: #ff6868;
 };

@media (min-width: 320px) and (max-width: 428px) {

    .card {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0rem;
        max-width: 85%;
        height: 13.95rem;
        margin-left: 6%;
        margin-top: 1.06rem;
    };
    .titleCard {
        margin-top: 0.5rem;
        margin-left: 0.87rem;
        margin-bottom: 0;
    };
    .pCard {
        margin-top: 0.5rem;
        margin-left: 0.87rem;
        margin-bottom: 0;
    };
    .btnCard {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 0.81rem;
        margin-left: 0.87rem;
        margin-bottom: 1.31rem;
    };
    .totalSection {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 10%;
        border: 0.0625rem solid var(--grey-2);
        padding: 1rem;
        margin-top: 1.19rem;
        margin-left: 6%;
        border-radius: 0.3125rem;
        max-width: 100%;
        overflow: hidden;
    };
    .totaltext{
        margin: 0;
    };
    .ptext{
        margin: 0rem;
        margin-left: 0;
    };
    .totalvalue {
        text-align: end;
    };
    .btnCard{
        width: 90%;
        margin-left: 0;
        margin-right: 0
    };
    .div1 {
        text-align: center;
        width: 100%;
    };
    .div2 { 
        align-items: center;
        width: 100%;
    };
    .div3 { 
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        width: 100%
    };
    .titleCard{
        text-align: center;
        max-width: 100%;
        margin-left: 0;
        width: 100%;
    };
        .pCard{
        margin-left: 0;
    };
  };
  
  @media (max-width: 321px){
    .card{  
        display: flex;
        flex-direction: column     
    };
    .pCard{
        margin-left: 0;
    };
    .btnCard{
        width: 90%;
        margin-left: 0;
        margin-right: 0
    };
    .div1 {
        text-align: center;
        width: 100%;
    };
    .div2 { 
        align-items: center;
        width: 100%;
    };
    .div3 { 
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    };
    .totalSection{
        justify-content: center;
        max-height: 9rem;
        height: 7rem;
    };
    .totalvalue{
        text-align: start;
        order: 2;
    };
    .ptext{
        order: 3;
    };
    .titleCard{
        text-align: center;
        max-width: 100%;
        margin-left: 0;
        width: 100%;
    };
};
  