@import "./GlobalStyles.scss";
@import "./reset.scss";
@import "./Typography.scss";
@import "./button.scss";
@import "./input.scss";
@import "./toggle.scss";

body {
  font-family: "Nunito", "sans-serif";
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  position: absolute;
  margin: 0;
  padding: 0;

  &.dark-mode{
    background-color: #161719;
  };
};

#root{
  min-height: 100vh;
}

main {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-height: 81.8vh
};

.positive {
  border-left: 0.3125rem solid var(--brand-3);
};

.Entrada{
  color: var(--brand-3);
};

.negative {
  border-left: 0.3125rem solid var(--brand-red);
};

.Saída{
  color: var(--brand-red);
};

* {
  scrollbar-width: thin;
  scrollbar-color: #828282;
};

*::-webkit-scrollbar {
  width: 0.35rem;
};

*::-webkit-scrollbar-track {
  background: none;
};

*::-webkit-scrollbar-thumb {
  background-color: #454545;
  border-radius: 1.25rem;
  border: 0.015rem solid #828282;
  border-radius: 1rem
};

@media (min-width: 320px) and (max-width: 428px) {
  #root {
    height: 85rem;
  };
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    max-height: auto;
    overflow-y: auto;
    margin-top: 9rem;
    padding-bottom: 3rem
  };
  .footer {
    margin-top: 10rem;
  };
};
