.input {
  font-family: "Nunito", "sans-serif";
  display: flex;
  width: 20.3125rem;
  height: 3.5rem;
  padding: 0rem 1rem;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 0.125rem solid var(--grey-1);
  font-size: 1.1rem;

  &:focus {
    border: 0.125rem solid var(--grey-4);
  };

  &.select {
    width: 100%;
    border: 0.125rem solid var(--grey-1);
    justify-content: space-between;
    border-radius: 0.5rem;
    border: 0.125rem solid var(--grey-1);
    color: var(--grey-3);
  };

  &.dark-mode-input{
    background-color: #292929;
    color: var(--grey-1);
  };
};
