@import "../../styles/index.scss";

.FinanceCardFather{
    font-family: "Inter";
};
.cardSection{
    display: flex;
    flex-direction: column-reverse;
};
.financeSection{
    border-radius: 0.5rem;
    width: 37.5rem;
};
.financeFormSection{
    border-radius: 0.5rem;
    height: 40rem;
    padding: 0.625rem;
}
.financeListTitle {
    @extend .title;
    @extend .two;
    margin-top: 1.2rem;
    margin-bottom: 1.81rem;
};
.dark-mode-text{
    color: var(--grey-1);
}

@media (min-width: 320px) and (max-width: 428px) {

    .financeSection{
      width: 100%;
    };
    .financeListTitle{
        max-width: 100%;
        margin-left: 6%;
    };
};
  