@import "../../styles/index.scss";

.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5.5rem;
    flex-shrink: 0;
    background: var(--grey-1);
    box-shadow: 0rem 0.25rem 2rem -0.75rem rgba(0, 0, 0, 0.25);
    margin-bottom: 2.44rem;
};

.dark-mode{
  background-color: #212529;
}

.nightMode{
  color: white;
}

.dayMode{
  color: gold;
}

.button{
  @extend .button;
}
.button2{
  @extend .button;
  background-color: var(--grey-3);
  border: none;
}

.HeaderLogo{
    height: 1.7rem;
    flex-shrink: 0;
};
@media (min-width: 320px) and (max-width: 428px) {
    .Header{
      margin:0;
      margin-bottom: -9rem;
    };
  };
  