@import "../../styles/index.scss";

.Header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5.5rem;
    flex-shrink: 0;
    background: rgba(201, 201, 201, 0.284);
    box-shadow: 0rem 0.25rem 2rem -0.75rem rgb(135, 135, 135);
    margin-bottom: 2.44rem;
    border-bottom: 4px var(--brand-1);
    border-style: ridge;
};

.dark-mode{
  box-shadow: 0rem 0.35rem 2.3rem -0.75rem rgba(189, 189, 189, 0.25);
  background-color: #212529;
  border-bottom: 4px var(--brand-1);
  border-style: ridge;
}

.nightMode{
  color: var(--grey-1);
}

.dayMode{
  color: gold;
}

.button{
  @extend .button;
}
.button2{
  @extend .button;
  background-color: var(--grey-3);
  border: none;
}

.HeaderLogo{
    height: 11.7rem;
    flex-shrink: 0;
};
@media (min-width: 320px) and (max-width: 428px) {
    .Header{
      justify-content: end;
      margin:0;
      margin-bottom: -9rem;
    };
    .HeaderLogo{
      position: absolute;
      left: -8%;
      top: -3.3%;
      height: 10rem;
    };
  };
  