// @import url("../../styles/GlobalStyles.scss");

.container{
    display: flex;
    flex-direction: row;
}

.container > form{
    display: flex;
    flex-direction: column;
}

.container > form > label{
    font-size: var(--title-4-size);
    
}

.container > form > button{
    color: #FFFFFF;
    background-color: var(--brand-1);
}