.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.21rem;
  max-height: 32rem;
  width: 35.3184rem;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 1.43rem;
  border: 1px solid var(--grey-2);
  padding: 1.31rem;
  border-radius: 0.3125rem;
  margin-right: 1.5rem;
}

.container > form > div > input{
  width: 92.8%;
}

.container > form > input{
  width: 92.8%;
}

@media (min-width: 320px) and (max-width: 428px) {
  .container {
    justify-content: center;
    max-width: 100%;
  }

  .container > form {
    margin-left: 1.5rem;
  }
  .container > form > div > input{
    max-width: 85%;
  }
  
  .container > form > input{
    max-width: 85%;
  }
}
