@import "../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1.21rem;
  max-height: 32rem;
  width: 35.3184rem;
};

input{
  background-color: var(--grey-1);
};

.dark-mode-input{
  background-color: #292929;
};
  
.dark-mode-text{
  color: var(--grey-1);
};

.dark-mode{
  background-color: #292929
};

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.43rem;
  border: 1px solid var(--grey-2);
  padding: 1.31rem;
  border-radius: 0.3125rem;
  margin-right: 1.5rem;

  
  &.dark-mode{
   background-color:  #212529;
  }
};

.formSmall {
  @extend .title;
  @extend .Headline;
  margin-left: 0.7rem;
};
.btnForm {
  @extend .button;
  font-size: 1.2rem;
};
.input{
  width: 92.8%;
};

@media (min-width: 320px) and (max-width: 428px) {
  .container {
    justify-content: center;
    max-width: 100%;
  }
  .formContainer {
    margin-left: 1.5rem;
  }
  .input{
    max-width: 85%;
  }
};
